.custom-container {
    margin-top: 100px;
}

.small-container {
    width: 700px;
    margin: 0 auto;
    padding: 40px;
}

.survey section {
    display: none;
    &.show {
        display: block
    }
}

.border-light {
    border: 1px solid #cfcfcf;
}